# IDE
**/.vscode
**/.idea

# OpenAPI-generator & generated docs
**/doc/api
**/src-generated
*gen*.log
**/doc/examples/*.html
**/data/**
!**/data/synthetic
!**/data/synthetic/**

# Python
*.pyc
__pycache__/

# Pytest/coverage
.coverage
**/coverage

# jupyter-related files
**/.ipynb_checkpoints
**/.cache
**/.npm
**/.jupyter/migrated
**/.jupyter/lab/*
!**/.jupyter/lab/user-settings
**/.local
**/.ipython
**/.yarn
**/.config
doc/examples/.bash_history
**/.bash_history

test_results/
src/jupyter/tmp
